*{
font-family: 'KoHo', sans-serif;
}
.hide{
  display: none;
}
.about{
  max-width: 70%;
  margin: 0 auto;
  padding-top: 1em;
}
.contact{
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.jumbotron{
  background-image: url('https://chopra.com/sites/default/files/field/image/6reasonswhytravelingisgoodforyou.jpg');
    opacity: 0.8;
   background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px!important;
}
.half1{
  background-color: rgb(182, 214, 239);
}
.half2{
  background-color: rgb(127, 170, 211);
}
.thumbnail{
 padding: 20px;
text-align: center;
}
.move{
  position: relative;
 bottom: 300px;
}
.desc{
  margin: 0 auto;
  width: 50%;
  bottom: 200px;
 line-height: 2em;
   border: 3px black groove;
  font-size: 1.5em;
}
footer{
  background-color: rgb(38, 125, 156);
  min-height: 500px;
  background-image: url('http://i64.tinypic.com/b7l8wx.jpg')
}

footer img{
  opacity: 0.8;
}
.navbar-brand img{
  width: 60px;
}
img{ 
width: 100%;
}
.high{
   height:518px;
}
form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}
.form-row{
  display: flex;
  flex-direction: row;
   padding: 1em;
}
.form-field{
  display: flex;
  flex-direction: column;
    align-items: center;
   padding: 1em;
}
.form-control{
   background-color:rgb(127, 170, 211)!important;;
}
label {
  font-weight: bold;
}
.sign-up{
  margin-bottom: 1em;
}
